body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e0f7fa;
    margin: 0;
    padding: 20px;
}

.calculator {
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    width: 100%;
    max-width: 400px; /* Aumentado el ancho máximo */
    margin-bottom: 20px;
    text-align: center;
}

h2, h3 {
    margin-bottom: 10px;
}

input[type="number"], input[type="text"], select, button {
    margin: 10px;
    padding: 10px;
    width: 90%;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #29b6f6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0288d1;
}

p {
    margin: 10px 0;
    color: #333;
}

#listaProductos table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#listaProductos th, #listaProductos td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

#listaProductos th {
    background-color: #f2f2f2;
}

#listaProductos button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px; /* Ajustado el padding */
    margin: 0 5px; /* Añadido margen */
    cursor: pointer;
}

#listaProductos button:hover {
    background-color: darkred;
}

#listaProductos button.editar { /* Estilo para botones de editar */
    background-color: #4CAF50; /* Verde */
}

#listaProductos button.editar:hover {
    background-color: #45a049;
}

#listaProductos button.eliminar { /* Estilo para botones de eliminar */
    background-color: #f44336; /* Rojo */
}

#listaProductos button.eliminar:hover {
    background-color: #d32f2f;
}

#listaProductos button.limpiar { /* Estilo para botones de limpiar */
    background-color: #008CBA; /* Azul */
    margin-top: 10px;
}

#listaProductos button.limpiar:hover {
    background-color: #007bb5;
}
